body {
    margin: 55px;
    padding: 0;
    background-color: blue;
}
form {
    /*background-image: url("/Images/beautiful.jpg");*/
    background-color: white;
    font-size: 18px;
}

.auto-style1 {
    width: 77px;
    height: 62px;
}

.auto-style2 {
    width: 100%;
}
.auto-style3 {
    width: 171px;
}

.auto-style4 {
    width: 658px;
}